*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  font-size: 100%;
} /*16px*/

body {
  font-family: Inter;
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}

:root {
  --grey-primary-200: #eaeaea;

  --green-primary-400: #014342dc;
  --green-primary-500: #014342;

  --transition-ease: all 0.2s ease-out 0s;
  --transition-slow: all 0.35s ease-out 0s;

  --box-shadow-light: 0px 1px 4px rgba(16, 24, 40, 0.1);
}
